.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #FFA500;
background-image: url("bg.jpg");
height: 250px;
}

.App-link {
  color:green;
}
.nav-link{
  color: white;
  font-weight:bold;
}
.card{
  margin-top: 50px;

  margin-right: 0px;
  margin-left: 0px;
}