.App {
  text-align: center;
}

.App-logo {
  align-self: center;

}

.App-header {
  background-color: #FFA500;
background-image: url("bg.png");
height: 200px;
background-repeat: no-repeat;
background-size: 110% 190%;
}

.App-link {
  color:green;
}
.nav-link{
  color: white;
 font-size: 20px;
}
.nav-link:hover{
  color: #385723;
}
.card{
  margin-top: 50px;

  margin-right: 0px;
  margin-left: 0px;
  border-style: solid;
  border-color:  #969994;
  border-width: 1px;
  border-radius: 5px;
}
.navig{
  background-color: #dc9c70;
  height: 35px;

}
.card-img-top{
  height: 200px;
  width: 200px;
  align-self: center;
}
.card-title{
  font-weight: bolder;

}
.list-group{

}
.list-group-item{
  
  font-weight: bold;


}
.form{
  width: 100%;

}
.material-icons{
 
  cursor: pointer;

}
.trashicon{
  margin-left: 30px;
  cursor: pointer;
}
.col-centered{
  float: none;
  margin: 0 auto;
  margin-top: 10px;
}
.div1 {

 
  position: relative;
  z-index : 1;
  background: rgb(248, 244, 244);
}

div1:before {
  content : "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 90%;  /* or 100px */
  border-bottom:1px solid red;
}
.foodimg{
  align-self: left;
  margin-right: 100px;
  border-style: solid;
  border-color:  #969994;
  border-width: 1px;
  border-radius: 5px;
}